@import "../../vars.css";

.container {
  margin-top: 50px; /* Reduced margin for a more compact top space */
  color: var(--color-text);
  margin-left: 5%; /* Adjusted margins for better fit on various screen sizes */
  margin-right: 5%;
  padding: 20px; /* Added padding for better internal spacing */
}

.title {
  font-size: 30px; /* Slightly reduced font size for balance */
  font-weight: 700;
  letter-spacing: 1.5px; /* Slightly reduced letter spacing for readability */
  text-transform: uppercase;
  text-align: center; /* Centered the title for better visual focus */
  margin-bottom: 20px; /* Added margin to separate from other content */
}

.projects {
  margin-top: 30px; /* Reduced margin for a closer grouping */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; /* Ensure all project items have the same height */
  justify-content: center;
  gap: 20px; /* Increased gap for better spacing between projects */
  width: 100%;
  padding: 10px; /* Added padding to prevent content from touching edges */
}
